button,
input,
optgroup,
select,
textarea {
  font-family: "whitney ssm a", "whitney ssm b", "lucida grande", "lucida sans",
    Verdana, Helvetica, Arial, Helvetica, sans-serif;
}

.input-field {
  height: 30px;
  margin: 0px;
}

#hl-form {
  text-align-last: center;
  margin-top: 15px;
}

#red,
#orange,
#yellow,
#green,
#blue,
#indigo,
#purple {
  height: 24px;
  margin: 0px;
}

#hl-bottom {
  line-height: 36px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 1px 0px 1px 0px;
}
